<app-master-page>
  <!-- Banner Template -->
  <ng-template #banner>
    <div class="banner-content">
      <h1>Chess Player Profile</h1>
      <p *ngIf="playerUsername">{{ playerUsername }}</p>
    </div>
  </ng-template>

  <!-- Left Navigation Template -->
  <ng-template #leftNavigation>
    <div class="nav-content">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a href="#" class="active">Player Profile</a></li>
      </ul>
    </div>
  </ng-template>

  <!-- Main Content Template -->
  <ng-template #content>
    <div class="player-content">
      
      <div id="player_profile">
        <app-player-information [playerUsername]="playerUsername"></app-player-information>
      </div>

      <div id="game_archive">
        <app-game-archive [playerUsername]="playerUsername"></app-game-archive>
      </div>
    </div>
  </ng-template>

  <!-- Footer Template -->
  <ng-template #foot>
    <div class="footer-content">
      <p>&copy; 2024 Chess Monitor</p>
    </div>
  </ng-template>
</app-master-page>